
@{
    ViewData["Title"] = "Cadastro de Aluno";
    Layout = "~/Views/Share/_Layout.cshtml";
}

@section css{
    <link href="~/views/CadastrarAluno/index.css" rel="stylesheet" />
}

@section js {
    <script src="~/views/CadastrarAluno/index.js"></script>
}

<h1>Cadastrar Usuário</h1>

